<form method="POST" action="{{ url_for('result') }}">
            <select name="station_select">
              {% for o in stations %}
				{%if o == station %}
					<option value="{{ o.name }}" selected>{{ o.name }}</option>
				{% else %}
					<option value="{{ o.name }}">{{ o.name }}</option>
				{% endif %}
              {% endfor %}
            </select>

            <select name="variable_select">
              {% for o in variables %}
				{%if o == variable %}
					<option value="{{ o.name }}" selected>{{ o.name }}</option>
				{% else %}
					<option value="{{ o.name }}">{{ o.name }}</option>
				{% endif %}
              {% endfor %}
            </select>
	
  <button type="submit">Go</button>
	
</form>