<form class="form-inline" method="POST" action="{{ url_for('result') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="station_select" class="selectpicker form-control">
              {% for o in station %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>

            <select name="variable_select" class="selectpicker form-control">
              {% for o in variable %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>			
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>